/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/code7.jpg');
    background-size: cover;
    background-color: #ffe6f2; /* Light pink background */
}

/* Typing Animation */
.typing-effect {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ff66b2;
    display: inline-block;
    text-align: center;
}

.typing-effect span {
    color: #ff66b2;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 204, 229, 0.8); /* Semi-transparent pink */
}

/* Home Section */
.container {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    top: calc(50vh / 2);
}

.container h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.container h1 span {
    color: #ff66b2;
}

.container p.caption {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffe6f2;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button-resume,
.button-email {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    display: inline-block;
    color:#ff66b2;
    background-color:  white; 
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.button-resume:hover,
.button-email:hover {
    background-color:#ff66b2;
    color: #ffe6f2;
}

/* Social Icons */
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-link {
    color: #ffe6f2;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #ff66b2;
}

/* Skill Bars */

/* Contact Section */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    background-color: #ffe6f2;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
}

.contact-form {
    width: 50%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form input, 
.contact-form textarea {
    border: 1px solid #ff99cc;
    color: #ff66b2;
}

.contact-form .btn {
    background-color: #ff66b2;
    color: #fff;
}

.contact-form .btn:hover {
    background-color: #ffe6f2;
    color: #ff66b2;
}

/* Project Section */
.project-card {
    background-color: #ffe6f2;
    color: #ff66b2;
    border-radius: 10px;
    width: 30%;
    margin: 20px;
}
